/* Typographies Sections */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Serif:opsz,wght@8..144,100;8..144,200;8..144,400&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Brygada+1918:wght@400;600;700&display=swap');

@import "variables.css";

/* HTML Section */

* , ::before , ::after {
    box-sizing: border-box;
}

.html {
    scroll-behavior: smooth;
}

/* Body Section */
.body {
    font-family: var(--ff-paragraphs) , 'Roboto Serif', serif;
    background-color: var(--clr-bg , #F5F5F5) ;
}

/* Img Section */
img {
    max-width: var(--width-one-hundred-percentage , 100%) ;
    display: block;
}

/* Span Section */
span {
    display: block;
}

/* Font-size Section Important */
.title-h1 {
    font-family: var(--ff-titles , 'Brygada 1918', serif);
    font-size: var(--fs-title-h1-mobile , 16px);
    line-height: var(--line-height-title-mobile , 1.5);
}

.title {
    margin: var(--title-margin-mobile , 30px) ;
    padding: var(--padding-mobile , 0 25px);
    font-family: var(--ff-titles , 'Brygada 1918', serif);
    font-size: var(--fs-title-mobile  , 32px);
    line-height: var(--line-height-title-mobile , 1.5);
}

.subtitle {
    font-size: var(--fs-subtitle-mobile , 24px) ;
    line-height: var(--line-height-title-mobile , 1.5);
}

.paragraph {
    font-size: var(--fs-paragraph-mobile , 16px);
    line-height: var(--line-height-paragraph-mobile , 1.5);
}

/* Hero Section 375px */
.hero {
    position: relative;
    display: grid;
    grid-template-rows: var(--width-fifty-percentage , 50%) var(--width-fifty-percentage , 50%) ;
    grid-template-areas: 
    "heroImg"
    "heroContent";
    height: var(--height-max-vh , 100vh);
}

.heroImg {
    grid-area: heroImg;
    background-image: url(/proyect1/assets/images/bg-images/bg-hero.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.menu__img {
    position: absolute;
    top: 40px;
    right: 20px;
    width: 30px;
}

.menuOpen {
    display: none;
}

.heroContent {
    grid-area: heroContent;
    padding: var(--padding-mobile , 0 25px);
}

.socialMedia {
    display: flex;
    gap: 10px;
    margin-top: 15px;
}

.socialMedia__links {
    display: inline-block;
    width: 40px;
    height: 40px;
    padding: 5px;
    line-height: 40px;
    border-radius: 50%;
    background-color: var(--clr-orange , #FFC271);
}

.logoContainer {
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 10px;
    margin-top: 10px;
}

.logoContainer__text {
    font-family: var(--ff-titles , 'Brygada 1918', serif);
    font-size: var(--fs-logo-mobile , 32px);
}

/* Gallery Section */
.gallery {
    height: var(--height-max-vh , 100vh);
}

.galleryContainer {
    background-color: var(--clr-bg-gallery , #28282F);
}

.galleryBox {
    padding: var(--padding-mobile , 0 25px);
}

.galleryBox--hidden {
    display: none;
}

.galleryBox__link {
    display: inline-block;
    text-decoration: var(--text-decoration-none , none);
    color: var(--clr-white , #FFF);
    background-color: var(--clr-btns , #CB95E7);
    padding: 7px 10px;
    margin-top: 20px;
}

.galleryContent {
    display: flex;
    flex-direction: column;
}

.galleryContent__paragraph {
    padding: var(--padding-mobile , 0 25px);
}

.galleryContent__arrowLink {
    align-self: center;
}

.galleryContent__arrowImg {
    width: 50px;
}

/* Information Section */
.information {
    height: var(--height-max-vh , 100vh);
}

.informationContentBox__eth {
    width: 15px;
}










/* font-size Section 375px */

.utilitiesList__link {
    font-size: var(--fs-utilities-links-mobile , 20px);
}



.teamBox__title {
    font-size: var(--fs-team-names-mobile , 24px);
}

.teamBox__work {
    font-size: var(--fs-team-work-mobile , 16px);
}

.list__link {
    font-size: var(--fs-menu-link-mobile , 30px);
}

.menuOpen__title {
    font-size: var(--fs-menu-title-mobile , 48px);
}

.menuOpenFooter__copyright {
    font-size: var(--fs-menu-copyright-mobile , 16px);    
}

