/* Root Section */
:root {

    /* Colours Section */
    --clr-bg:#F5F5F5;
    --clr-texts:#000;
    --clr-orange:#FFC271;
    --clr-btns:#CB95E7;
    --clr-pink:#FFB8CE;
    --clr-yellow:#FFE780;
    --clr-gray:#5B5B5B;
    --clr-bg-menu:#28282F;
    --clr-bg-galley:#28282F;
    --clr-black-half:#00000080;
 
    /* Line-height Section */
    --line-height-title-mobile:1.5;
    --line-height-title-tablet:1.5;
    --line-height-title-desktop:1.5;
 
    --line-height-paragraph-mobile:1.5;
    --line-height-paragraph-tablet:1.5;
    --line-height-paragraph-desktop:1.5;
 
    /* Font-size Section // .title--h1 */
    --fs-title-h1-mobile:16px;
    --fs-title-h1-tablet:20px;
    --fs-title-h1-desktop:50px;
 
    /*  .title */
    --fs-title-mobile:32px;
    --fs-title-tablet:48px;
    --fs-title-desktop:50px;
 
    /* .paragraph */
    --fs-paragraph-mobile:16px;
    --fs-paragraph-tablet:20px;
    --fs-paragraph-desktop:25px;
 
    /* .subtitle */
    --fs-subtitle-mobile:24px;
    --fs-subtitle-tablet:36px;
    --fs-subtitle-desktop:50px;
 
    /* .utilitiesList__link */
    --fs-utilities-links-mobile:20px;
    --fs-utilities-links-tablet:24px;
    --fs-utilities-links-desktop:28px;
 
    /* .informationContentBox__number */
    --fs-information-number-mobile:18px;
    --fs-information-number-tablet:24px;
    --fs-information-number-desktop:30px;
 
    /* .informationContentBox__text */
    --fs-information-text-mobile:16px;
    --fs-information-text-tablet:20px;
    --fs-information-text-desktop:25px;
 
    /* .teamBox__title */
    --fs-team-names-mobile:24px;
    --fs-team-names-tablet:24px;
    --fs-team-names-desktop:24px;
 
    /* .teamBox__work */
    --fs-team-work-mobile:16px;
    --fs-team-work-tablet:16px;
    --fs-team-work-desktop:16px;
 
    /* .list__link */
    --fs-menu-link-mobile:30px;
    --fs-menu-link-tablet:40px;
    --fs-menu-link-desktop:50px;
 
    /* .menuOpen__title */
    --fs-menu-title-mobile:48px;
    --fs-menu-title-tablet:68px;
    --fs-menu-title-desktop:88px;
 
    /* .menuOpenFooter__copyright */
    --fs-menu-copyright-mobile:16px; 
    --fs-menu-copyright-tablet:26px; 
    --fs-menu-copyright-desktop:26px; 
 
    /* Font-family Section */
    --ff-paragraphs:'Roboto Serif', serif;
    --ff-titles: 'Brygada 1918', serif;
 
    /* Text-align Section */
    --text-align-left:left;
    --text-align-center:center;
 
    /* Padding Section */
    --padding-mobile: 0 25px;
    --padding-tablet: 0 47px;
    --padding-desktop: 0 52px;
 
    /* Text-decoration Section */
    --text-decoration:underline;
    --text-decoration-none:none; 
 
    /* Box-shadow Section */
    --drop-shadow: 0px 3px 7px #00000080;
 
    /* Bold Section */
    --bold:bold;
 
    /* Height Section */
    --height-max-vh:100vh;
 
    /* Width Section */
    --width-one-hundred-percentage:100%; 
    --width-fifty-percentage:50%;
  
}